<footer id="footer" class="footer light-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6 footer-info">
                <a href="index.html" class="logo d-flex align-items-center mb-4">
                    <span class="sitename">Nexorbi<span style="color:#008077;">x</span></span>
                </a>
                <p>Nexorbix Technologies delivers modern web solutions, digital growth strategies,
                    and innovative software products to help businesses scale globally.</p>

                <div class="social-links d-flex mt-4">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-github"></i></a>
                </div>
            </div>

            <!-- <div class="col-lg-2 col-md-6 footer-links">
                <h4>Services</h4>
                <ul>
                    <li><a href="category.html">Web Development</a></li>
                    <li><a href="category.html">Best Sellers</a></li>
                    <li><a href="category.html">Sale Items</a></li>
                    <li><a href="category.html">Men's Collection</a></li>
                    <li><a href="category.html">Women's Collection</a></li>
                    <li><a href="category.html">Accessories</a></li>
                </ul>
            </div> -->

            <!-- <div class="col-lg-2 col-md-6 footer-links">
                <h4>Customer Service</h4>
                <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="shiping-info.html">Shipping &amp; Returns</a></li>
                    <li><a href="#">Size Guide</a></li>
                    <li><a href="account.html">Track Order</a></li>
                    <li><a href="#">Gift Cards</a></li>
                </ul>
            </div> -->

            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Company</h4>
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#about">Careers</a></li>
                    <li><a href="#portfolio">Projects</a></li>
                    <li><a href="#team">Our Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <!-- <div class="col-lg-3 col-md-6">
                <div class="footer-newsletter">
                    <h4>Stay Updated</h4>
                    <p>Get the latest updates, tech insights, and startup tips from Nexorbix.</p>
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="position-relative">
                            <input type="email" name="email" placeholder="Your Email" required="">
                            <button type="submit" class="btn-subscribe"><i class="bi bi-arrow-right"></i></button>
                        </div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>

    <div class="container footer-bottom">
        <div class="row gy-3">
            <div class="col-md-6 order-2 order-md-1">
                <div class="copyright">
                    <p>© <span>Copyright</span> <strong class="sitename">Nexorbix Technologies</strong>. All Rights Reserved.</p>
                </div>

            </div>
            <div class="col-md-6 order-1 order-md-2">
                <div class="legal-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                </div>
            </div>
        </div>
    </div>

</footer>